<div class="row">
    <div class="col-md-12">
        <app-card cardClass="card-datatable" [options]="false">
            <div class="dt-responsive table-responsive">
                <perfect-scrollbar [style.max-height]="'100%'" [style.max-width]="'100%'">
                    <table id="dataTable" datatable [dtOptions]="dtOptions" class="table table-hover m-b-0"
                        style="width: 100%;"></table>
                </perfect-scrollbar>
            </div>
        </app-card>
    </div>
</div>