<div class="row">
    <div class="col-sm-12">

        <app-card cardTitle="Product Assignment to Website" [options]="false">
            <hr>
            <div *ngIf="currentWebsite" class="text-center">
                <h3>
                    <span class="badge m-r-5 badge-secondary text-center">
                    {{ currentWebsite.id + " :  " + currentWebsite.name }}
                    </span>
                </h3>
                <hr>
            </div>

            <div *ngIf="!productLoaded" class="d-flex justify-content-center">
                <div class="spinner-grow text-warning" style="width: 4rem; height: 4rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <form action="javascript:" [formGroup]="addForm" *ngIf="productLoaded">

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="form-group">
                            <label for="inputState">Select Product</label>
                            <ng-select [ngClass]="'ng-select'" placeholder="Select Product" formControlName="product_id"
                                [items]="productData" bindValue="id" bindLabel="name" id="inputState"> </ng-select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" formControlName="name" id="inputName"
                                placeholder="Product Name">
                        </div>
                        <div ngxErrors="name" class="error">
                            <div ngxError="required" when="touched">
                                Field is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label for="inputSKU">SKU</label>
                            <input type="text" class="form-control" formControlName="SKU" id="inputSKU"
                                placeholder="SKU">
                        </div>
                        <div ngxErrors="SKU" class="error">
                            <div ngxError="required" when="touched">
                                Field is required
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-3">
                        <div class="form-group">
                            <label for="inputPrice">Price</label>
                            <input type="text" class="form-control" formControlName="price" id="inputPrice"
                                placeholder="Product Price">
                        </div>
                        <div ngxErrors="price" class="error">
                            <div ngxError="required" when="touched">
                                Field is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <div class="form-group">
                            <label for="inputQty">Quantity</label>
                            <input type="text" class="form-control" formControlName="qty" id="inputQty"
                                placeholder="Quantity">
                        </div>
                        <div ngxErrors="qty" class="error">
                            <div ngxError="required" when="touched">
                                Field is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <div class="form-group">
                            <label for="inputCost">Cost</label>
                            <input type="text" class="form-control" formControlName="cost" id="inputCost"
                                placeholder="Product Cost">
                        </div>
                        <div ngxErrors="cost" class="error">
                            <div ngxError="required" when="touched">
                                Field is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <div class="form-group">
                            <label for="inputCrossReferenceID">Cross Reference ID</label>
                            <ng-select [ngClass]="'ng-select'" placeholder="Select Cross Reference"
                                formControlName="cross_reference_id" [items]="crossReferenceDropDown" bindValue="id"
                                bindLabel="id" id="inputCrossReference"> </ng-select>
                        </div>
                        <div ngxErrors="cross_reference_id" class="error">
                            <div ngxError="required" when="touched">
                                Field is required
                            </div>
                        </div>
                    </div>
                </div>



                <div class="form-row">
                    <div class="form-group col-md-3">
                        <div class="form-group">
                            <div class="switch switch-primary d-inline m-r-10">
                                <input type="checkbox" formControlName="show_price" id="show_price">
                                <label class="cr" for="show_price"></label>
                            </div>
                            <label type="button" for="show_price">Show Price?</label>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="form-group">
                            <div class="switch switch-warning d-inline m-r-10">
                                <input type="checkbox" formControlName="is_in_stock" id="isInStockCheck">
                                <label class="cr" for="isInStockCheck"></label>
                            </div>
                            <label type="button" for="isInStockCheck">Is In Stock?</label>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="form-group">
                            <div class="switch switch-danger d-inline m-r-10">
                                <input type="checkbox" formControlName="cross_reference_check" id="crossReferenceCheck">
                                <label class="cr" for="crossReferenceCheck"></label>
                            </div>
                            <label type="button" for="crossReferenceCheck">Cross Reference Check</label>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="form-group">
                            <div class="switch switch-primary d-inline m-r-10">
                                <input type="checkbox" formControlName="active" id="gridCheck">
                                <label class="cr" for="gridCheck"></label>
                            </div>
                            <label type="button" for="gridCheck">Active</label>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" [disabled]="addForm.invalid" type="submit"
                    (click)="onSubmit()">
                    <span *ngIf="this.submitLoader" class="spinner-grow spinner-grow-sm" role="status"></span>
                    <span *ngIf="this.submitLoader" class="load-text"> Loading...</span>
                    <span *ngIf="!this.submitLoader" class="btn-text"><i class="feather icon-save"> </i>&nbsp;Save</span>
                </button>
            </form>

        </app-card>









        <!-- Bulk Uploading Component -->
        <app-card cardTitle="Bulk Upload Product Information" [options]="false">
            <hr>
            <a href="../../../../../assets/Uploading-Templates/Assign Product To Website Template.xlsx" type="button"
                class="btn btn-icon btn-secondary" ngbTooltip="Download Template"
                style="margin-left: 95%; margin-bottom: 20px;"><i class="feather icon-download"></i></a>
            <div class="input-group cust-file-button">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile04"
                        (change)="handleFileInput($event)">
                    <label class="custom-file-label" for="inputGroupFile04">{{filename}}</label>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="fileUpload()">Load Data</button>
                </div>
            </div>

            <div *ngIf="uploadDataReady" class="text-center">
                <hr>
                <button type="button" style="width: 300px;" class="btn btn-primary" (click)="startUploading()"><i
                        class="feather icon-check-circle"></i>&nbsp;&nbsp; Start
                    Uploading</button>
            </div>

        </app-card>

        <app-card *ngIf="uploadDataReady" cardTitle="Data is ready for upload" blockClass="table-border-style">
            <div class="table-responsive">
                <table datatable class="table table-hover m-b-0">
                    <thead>
                        <tr>
                            <th>Website ID</th>
                            <th>Product ID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Cost</th>
                            <th>Quantity</th>
                            <th>Show Price</th>
                            <th>Is In Stock</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of dataForUploading">
                            <td>{{data.website_id}}</td>
                            <td>{{data.product_id}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.price}}</td>
                            <td>{{data.cost}}</td>
                            <td>{{data.quantity}}</td>
                            <td>
                                <span *ngIf="data.show_price" class="badge badge-light-primary">Yes</span>
                                <span *ngIf="!data.show_price" class="badge badge-light-danger">No</span>
                            </td>
                            <td>
                                <span *ngIf="data.is_in_stock" class="badge badge-light-primary">Yes</span>
                                <span *ngIf="!data.is_in_stock" class="badge badge-light-danger">No</span>
                            </td>
                            <td>
                                <span *ngIf="data.active" class="badge badge-light-primary">Active</span>
                                <span *ngIf="!data.active" class="badge badge-light-danger">Inactive</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-card>


    </div>
</div>